html {
	box-sizing: border-box;
	height: 100vh;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

body {
	height: 100%;
	width: 100%;
	background-color: #fff1ff;
}

#root {
	height: 100%;
	width: 100%;
}
